@import url('https://fonts.googleapis.com/css?family=Lobster');
body
{
	background-color: #e8e9fa;
	margin: 0;
	font-family: 'Arial', sans-serif;
	position: relative;
}


.content_h2
{
	font-family: 'Lobster', cursive;
}


.h1_section
{
	font-family: 'Lobster', cursive;
	margin-left: 20px;
	font-size: 25px; 
}

header
{ 	
	z-index: 1;
	background-color: #3565a5;
	width: 100%;
	height: 60px;
	position: fixed;
	top:0;
	border-bottom: 3px solid #000396;
}
.menu
{
	float: right;
	margin-top:20px;
}

.menu_link
{
	padding-top: 25px;
	padding-right: 25px;
	padding-left: 25px;
	padding-bottom: 15px;
	color: white;
	text-decoration: none;
}

.menu_link:hover
{
	background-color: #00027f;
}

.line_scroll
{
	background-color: #efa70b;
	height: 5px;
	width: 0;
}

.logo
{
	position: relative;
	padding-top: 10px;
	float: left;
	color: white;
	text-decoration: none;
	font-family: 'Lobster', cursive;
	font-size: 24px;
}



.logo img
{
	height: 30px;
	width: 40px;
}

.authorization
{
	float: right;
	margin-top: 20px;
}

.authorization_link
{
	margin-left: 10px;
	color: white;
	text-decoration: none;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #efa70b;
	border-radius: 5px;
	border: 1px solid #eaeaea;
}

.authorization_link:hover
{
	background-color: #dd9b0d;
}

.container
{
	width: 1000px;
	margin-left:auto;
	margin-right: auto;
}

.content
{
	margin-top: 70px;
	padding-bottom: 250px;
	min-height: 100%;
}

.container_footer
{
	max-width: 1000px;
	margin: 0 auto;
}

.categories
{
	display: inline-block;
	width: 250px;
}

.categories h2
{
	font-weight: normal;
}



.categories_list
{
	list-style-type: none;
	padding: 5px;
}

.categories_list li
{
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 15px;
	margin-bottom: 10px; 
	padding-bottom: 5px;
	margin-bottom: 10px; 
}

.categories_list li:hover
{
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 15px;
	padding-bottom: 5px;
	margin-bottom: 10px; 
	border-radius: 10px;
	background-color: #eaeaea;
}

.categories_list li:focus
{
	padding: 5px;
	margin-bottom: 10px; 
	border: 2px double black;
	border-radius: 10px;
	background-color: gray;
}

.categories_size
{
	background-color: white;
	border-top: 2px solid #999999;
	//border-radius: 5px;
	padding: 10px;
	//margin-top: 10px;
}

.categories_h2
{
	margin-top: 0;
}

.categories_money
{
	background-color: white;
	border: 1px solid #999999;
	border-radius: 2px;
	padding: 10px;
	margin-top: 20px; 
}
.range_money
{
	width: 100%;
}

.max_money
{
	float: right;
}


.input_money
{
	margin: 10px;
	width: 90px;
	border: 1px solid gray;
	border-radius: 5px;
	height: 30px;
}

.min_money
{
	float: left;
}


.button
{
	text-align: center;
	border: 1px solid gray;
	border-radius: 5px;
	background-color: white;
	height: 30px;
	width: 200px;
	margin: 10px;
}

.info_mail
{
	text-align: center;
	background-color: white;
	border: 5px solid #999999;
	border-radius: 5px;
	padding: 15px;
	margin-top: 10px; 
}

.info_mail input[type=login]
{
	padding-left: 15px;
	margin: 5px;
	border: 1px solid black;
	border-radius: 20px;
	width: 100%;
	height: 30px;
}

.info_mail input[type=submit]
{		
	margin: 5px;
	border: 1px solid #002947;
	//border-radius: 5px;
	width: 100%;
	height: 30px;
	background-color: #016dba;
	color: white;
}

.products
{
	width: 740px;
	vertical-align: top;
	display: inline-block;
}


.product
{
	float: left;
	margin-top: 20px;
	margin-left: 20px; 
	
	width: 350px;
	height: 410px;
	background-color: white;
	border-top: 5px solid #3565a5;
	border-left: 1px solid #999999;
	border-right:  1px solid #999999;
	border-bottom: 1px solid #999999;
	padding-left: 10px;
	padding-right:  10px;

}


.product:hover
{
	background-color: #e8ecff;
	box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}

.product_img img
{
	width: 100%;
	height: 200px;
	
}
.products_sort
{
	padding: 10px;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;

	margin-top: 20px;
	margin-left: 20px;
}

/*select*/
.products_sort select 
{
	margin-left: 5px;
  	width: 250px;
  	height: 30px;
  	border: none;
	border-bottom: 2px solid #3565a5;
	border-radius: 2px;
	background-color: transparent; 
	font-family: 'Arial';
	font-size: 15;
	outline: none;
}

/*select*/

.button_pay
{
	width: 100%;
	height: 40px;
	background-color: #5b257c;
	color: white;
	text-align: center;
	border: none;
	font-family: 'Arial';
	font-size: 18px;
}

.button_pay:hover
{
	background-color: #8033af;
}

.product_span_size
{
	margin-top: 10px;
	text-align: center;
	color: gray;
	margin-bottom: 10px;
}

.product_availability
{
	float: left;
	margin: 0;
}

.product_availability_img
{
	margin: 0;
	width: 25px;
	height: 25px;
}


.product_button_show
{
	margin: 2px;
	border: 1px solid gray;
	height: 30px;
	width: 30px;
	background-color: #3565a5; 
	background-position: 3px center; 
	background-image: url(image/eye.png);
	background-repeat: no-repeat;
	background-size: 20px;
	float: right;
}

.product_button_show:hover
{
	background-color: white; 
}

.product_button_buy:hover
{
	background-color: white; 
}

.product_button_buy
{
	margin: 2px;
	border: 1px solid gray;
	height: 30px;
	width: 30px;
	background-color: #3565a5; 
	background-position: 3px center; 
	background-image: url(image/buy.png);
	background-repeat: no-repeat;
	background-size: 20px;
	padding: 5px;
	float: right;
}


.number_list
{
	text-align: right;
	margin: 15px;
}

.number_list_link
{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid gray;
	text-decoration: none;
	 
	font-size: 25px;
}

.number_list_link:hover
{
	background-color: #999999;
}

.head_title
{
	color: white;
	text-align: left;
	font-family: 'Lobster', cursive;
  	font-size: 32px;
  	background-color: white;
	padding: 15px 0 15px 0;
	width: 100%;
	background-image: url(image/head_image.jpg);
	background-size: cover;
}




footer
{
	margin-top: 15px;
	height: 200px;
	width: 100%;
	position: absolute;
	background-color: #bac6d8;
	bottom: 0;
}

footer p
{
	font-family: 'Arial';
  	font-size: 14px;
}
.footer_hr
{
	color: white; 
	border:none;
	height: 5px;
	background-color:  white;
}

.content_img
{
	width: 100%;
}


.content_shtora
{
	margin-top: 20px;
	width: 100%;
	background-color: white;
	border-top: 5px solid #3565a5;
	border-left: 1px solid #999999;
	border-right:  1px solid #999999;
	border-bottom: 1px solid #999999;
	padding-left: 10px;
	padding-right:  10px;
}

.back_link
{
	margin-left: 0;
	background: rgb(173, 208, 247);
	position: relative; /* !!! */
   	padding: 5px;
   	width: 100px;
   	text-align: center;
   	border-left:   1px solid gray;
}

.back_link:before
{
	content: '';
   	border: 14px solid transparent;
   	border-left: 15px solid rgb(173, 208, 247);
   	position: absolute;
   	right: -28px;
   	top: 50%;
   	margin-top:-14px; 
}




.product_shtora
{
	display: inline-block;
}

.product_shtora_picture
{
	float: left;
	background-color: blue;
}

.product_shtora_picture img
{
	height: 300px;
	width: 400px;
	border: 1px solid gray;
}

.product_shtora_characteristics
{
	margin-left: 10px;
	float: right;
}

.product_shtora_characteristics p
{
	border-bottom: 1px solid gray;
}

@media (max-width: 680px) 
{

}




/*input-search*/
* {box-sizing: border-box;}
form {
  position: relative;
  width: 250px;
  margin: 0;
}
.input_search {
  width: 100%;
  height: 42px;
  padding-left: 10px;
  border: 2px solid #3565a5;
  border-radius: 5px;
  outline: none;
  background: white;
  color: #9E9C9C;
}
.button_search {
  position: absolute; 
  top: 0;
  right: 0px;
  width: 42px;
  height: 42px;
  border: none;
  background: #3565a5;
  background-position: 8px center;
  background-image: url(image/search.png);
  background-repeat: no-repeat;
  background-size: 25px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.button_search:before {
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;
}

/*/input-search*/

